@font-face {
    font-family: 'VT323', monospace;
    src: url('https://fonts.googleapis.com/css?family=VT323');
}

body {
    margin: 0; 
    padding: 0;
    background-color: black; 
}

canvas {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
}